nav {
    min-height: 50px;
    max-height: 100px;
    background-color: #ff7c00;
    display: none;
}

#btn-menu-mobile {
    background-color: #ff7c00;
    border-color: #ff7c00;
    margin-left: 20px;
}

.offcanvas-body, .offcanvas-title{
    color: #113454;
}

.menu-mobile, .menu-desktop {
    list-style-type: none;
}

.menu-mobile li{
    padding: 20px 5px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.menu-mobile li:hover{
    background-color: lavender;
}

.menu-desktop { 
    padding-top: 12px;
    display: flex;
}

.menu-desktop li {
    display: inline;
    padding-top: 20px 0px;
    min-width: 15%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
}

.menu-desktop li:hover {
    font-size: 15px;
}

#dropdown-basic {
    background: none;
    border: none;
    padding: 0px !important;
    margin: 0px !important;
}

.menu-drop{
    background-color: #113454;   
    
}

.item-menu-drop{
    color: #fff;
    border-bottom: 1px solid #fff;
}

.menu-drop a:last-child{
    border-bottom: 0px;
}

@media only screen and (min-width: 576px)  {
    
}

@media only screen and (min-width: 768px)  {
    nav {
        display: block;
    }

    #btn-menu-mobile {
        display: none;
    }

    header div {
        justify-content: space-between;
    }

    #header-col-3 {
        text-align: right !important;
    }
}

@media only screen and (min-width: 992px)  {
    
}

@media only screen and (min-width: 1200px)  {
    
}